# Travel Data Analysis

### Importing Required Libraries

In [0]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Travel Data Analysis using Pyspark").getOrCreate()

### Declaring Schema and Importing Required Datasets

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
custom_schema = StructType([
    StructField("CityPair", StringType(), True),
    StructField("FromLocation", StringType(), True),
    StructField("ToLocation", StringType(), True),
    StructField("ProductType", IntegerType(), True),
    StructField("AdultsTraveling", IntegerType(), True),
    StructField("SeniorsTraveling", IntegerType(), True),
    StructField("ChildrenTraveling", IntegerType(), True),
    StructField("YouthTraveling", IntegerType(), True),
    StructField("InfantTraveling", IntegerType(), True),
    StructField("DateOfTravel", StringType(), True),
    StructField("DateOfReturn", StringType(), True),
    StructField("AirlinePrice", FloatType(), True),
    StructField("CarPrice", FloatType(), True),
    StructField("HotelPrice", FloatType(), True),
    StructField("HotelName", StringType(), True)
])

df = spark.read.format("csv") \
    .option("delimiter", "\t") \
    .schema(custom_schema) \
    .load("/FileStore/tables/TravelData/TravelDataset.txt")
df.show()

+--------+------------+----------+-----------+---------------+----------------+-----------------+--------------+---------------+--------------------+--------------------+------------+--------+----------+---------+
|CityPair|FromLocation|ToLocation|ProductType|AdultsTraveling|SeniorsTraveling|ChildrenTraveling|YouthTraveling|InfantTraveling|        DateOfTravel|        DateOfReturn|AirlinePrice|CarPrice|HotelPrice|HotelName|
+--------+------------+----------+-----------+---------------+----------------+-----------------+--------------+---------------+--------------------+--------------------+------------+--------+----------+---------+
| ZIH-ZIH|         ZIH|       ZIH|          4|              2|               0|                0|             0|              0|2014-10-23 00:00:...|2014-10-25 00:00:...|         0.0|     0.0|    2003.2|     null|
| ZIH-ZIH|         ZIH|       ZIH|          4|              2|               0|                0|             0|              0|2014-10-23 00:00:...|2014-10-25 00:00:...|         0.0|     0.0|   1556.76|     null|
| YYZ-YYZ|         YYZ|       YYZ|          4|              1|               2|                0|             0|              0|2014-11-24 00:00:...|2014-11-26 00:00:...|         0.0|     0.0|    268.02|     null|
| YYZ-YYZ|         YYZ|       YYZ|          4|              1|               2|                0|             0|              0|2014-11-24 00:00:...|2014-11-26 00:00:...|         0.0|     0.0|    674.36|     null|
| YYZ-YYZ|         YYZ|       YYZ|          2|              0|               1|                0|             0|              0|2014-11-11 08:00:...|2014-11-14 08:00:...|         0.0|  254.19|       0.0|     null|
| YYZ-YYZ|         YYZ|       YYZ|          4|              1|               0|                0|             0|              0|2015-02-16 00:00:...|2015-02-22 00:00:...|         0.0|     0.0|    916.46|     null|
| YYC-YYC|         YYC|       YYC|          4|              1|               0|                0|             0|              0|2014-02-03 00:00:...|2014-02-08 00:00:...|         0.0|     0.0|    903.36|     null|
| YYC-YYC|         YYC|       YYC|          4|              2|               0|                0|             0|              2|2014-06-21 00:00:...|2014-06-25 00:00:...|         0.0|     0.0|   1107.14|     null|
| YVR-YYZ|         YVR|       YYZ|          7|              1|               1|                0|             0|              0|2015-01-12 00:00:...|2015-01-15 00:00:...|      4351.4|  176.85|    238.14|       AC|
| YVR-YYZ|         YVR|       YYZ|          7|              1|               1|                0|             0|              0|2015-01-12 00:00:...|2015-01-15 00:00:...|      4351.4|  176.85|  281.4354|       AC|
| YVR-YVR|         YVR|       YVR|          2|              1|               0|                0|             0|              0|2014-12-09 08:00:...|2014-12-11 08:00:...|         0.0|   74.97|       0.0|     null|
| YVR-YVR|         YVR|       YVR|          4|              1|               0|                0|             0|              0|2014-12-11 00:00:...|2014-12-20 00:00:...|         0.0|     0.0|   1201.24|     null|
| YVR-YVR|         YVR|       YVR|          6|              1|               1|                0|             0|              1|2015-05-11 00:00:...|2015-05-14 00:00:...|         0.0|  104.84|    254.37|     null|
| YVR-SSA|         YVR|       SSA|          1|              1|               1|                0|             0|              0|2014-12-19 00:00:...|1753-01-01 00:00:...|      2490.0|     0.0|       0.0|       JJ|
| YVR-SFO|         YVR|       SFO|          1|              2|               0|                0|             0|              0|2014-09-17 00:00:...|2014-09-20 00:00:...|      567.32|     0.0|       0.0|       DL|
| YVR-SFO|         YVR|       SFO|          1|              1|               0|                0|             0|              0|2014-09-17 00:00:...|1753-01-01 00:00:...|      167.75|     0.0|       0.0|       AC|
| YVR-LAX|         YVR|       LAX|          1|              1|               0|                0|             0|              0|2014-09-17 00:00:...|1753-01-01 00:00:...|      146.43|     0.0|       0.0|       AS|
| YVR-HKG|         YVR|       HKG|          1|              0|               2|                0|             0|              0|2014-07-15 00:00:...|1753-01-01 00:00:...|      1538.8|     0.0|       0.0|       CA|
| YBA-YBA|         YBA|       YBA|          4|              1|               0|                0|             0|              0|2014-02-24 00:00:...|2014-02-28 00:00:...|         0.0|     0.0|   454.712|     null|
| YBA-YBA|         YBA|       YBA|          4|              1|               0|                0|             0|              0|2014-03-23 00:00:...|2014-03-29 00:00:...|         0.0|     0.0|    613.28|     null|
+--------+------------+----------+-----------+---------------+----------------+-----------------+--------------+---------------+--------------------+--------------------+------------+--------+----------+---------+
only showing top 20 rows

### Converting Dataframe to Temporary View

In [0]:
df.createOrReplaceGlobalTempView("Travel")
result=spark.sql("SELECT * FROM global_temp.Travel");
result.show()

+--------+------------+----------+-----------+---------------+----------------+-----------------+--------------+---------------+--------------------+--------------------+------------+--------+----------+---------+
|CityPair|FromLocation|ToLocation|ProductType|AdultsTraveling|SeniorsTraveling|ChildrenTraveling|YouthTraveling|InfantTraveling|        DateOfTravel|        DateOfReturn|AirlinePrice|CarPrice|HotelPrice|HotelName|
+--------+------------+----------+-----------+---------------+----------------+-----------------+--------------+---------------+--------------------+--------------------+------------+--------+----------+---------+
| ZIH-ZIH|         ZIH|       ZIH|          4|              2|               0|                0|             0|              0|2014-10-23 00:00:...|2014-10-25 00:00:...|         0.0|     0.0|    2003.2|     null|
| ZIH-ZIH|         ZIH|       ZIH|          4|              2|               0|                0|             0|              0|2014-10-23 00:00:...|2014-10-25 00:00:...|         0.0|     0.0|   1556.76|     null|
| YYZ-YYZ|         YYZ|       YYZ|          4|              1|               2|                0|             0|              0|2014-11-24 00:00:...|2014-11-26 00:00:...|         0.0|     0.0|    268.02|     null|
| YYZ-YYZ|         YYZ|       YYZ|          4|              1|               2|                0|             0|              0|2014-11-24 00:00:...|2014-11-26 00:00:...|         0.0|     0.0|    674.36|     null|
| YYZ-YYZ|         YYZ|       YYZ|          2|              0|               1|                0|             0|              0|2014-11-11 08:00:...|2014-11-14 08:00:...|         0.0|  254.19|       0.0|     null|
| YYZ-YYZ|         YYZ|       YYZ|          4|              1|               0|                0|             0|              0|2015-02-16 00:00:...|2015-02-22 00:00:...|         0.0|     0.0|    916.46|     null|
| YYC-YYC|         YYC|       YYC|          4|              1|               0|                0|             0|              0|2014-02-03 00:00:...|2014-02-08 00:00:...|         0.0|     0.0|    903.36|     null|
| YYC-YYC|         YYC|       YYC|          4|              2|               0|                0|             0|              2|2014-06-21 00:00:...|2014-06-25 00:00:...|         0.0|     0.0|   1107.14|     null|
| YVR-YYZ|         YVR|       YYZ|          7|              1|               1|                0|             0|              0|2015-01-12 00:00:...|2015-01-15 00:00:...|      4351.4|  176.85|    238.14|       AC|
| YVR-YYZ|         YVR|       YYZ|          7|              1|               1|                0|             0|              0|2015-01-12 00:00:...|2015-01-15 00:00:...|      4351.4|  176.85|  281.4354|       AC|
| YVR-YVR|         YVR|       YVR|          2|              1|               0|                0|             0|              0|2014-12-09 08:00:...|2014-12-11 08:00:...|         0.0|   74.97|       0.0|     null|
| YVR-YVR|         YVR|       YVR|          4|              1|               0|                0|             0|              0|2014-12-11 00:00:...|2014-12-20 00:00:...|         0.0|     0.0|   1201.24|     null|
| YVR-YVR|         YVR|       YVR|          6|              1|               1|                0|             0|              1|2015-05-11 00:00:...|2015-05-14 00:00:...|         0.0|  104.84|    254.37|     null|
| YVR-SSA|         YVR|       SSA|          1|              1|               1|                0|             0|              0|2014-12-19 00:00:...|1753-01-01 00:00:...|      2490.0|     0.0|       0.0|       JJ|
| YVR-SFO|         YVR|       SFO|          1|              2|               0|                0|             0|              0|2014-09-17 00:00:...|2014-09-20 00:00:...|      567.32|     0.0|       0.0|       DL|
| YVR-SFO|         YVR|       SFO|          1|              1|               0|                0|             0|              0|2014-09-17 00:00:...|1753-01-01 00:00:...|      167.75|     0.0|       0.0|       AC|
| YVR-LAX|         YVR|       LAX|          1|              1|               0|                0|             0|              0|2014-09-17 00:00:...|1753-01-01 00:00:...|      146.43|     0.0|       0.0|       AS|
| YVR-HKG|         YVR|       HKG|          1|              0|               2|                0|             0|              0|2014-07-15 00:00:...|1753-01-01 00:00:...|      1538.8|     0.0|       0.0|       CA|
| YBA-YBA|         YBA|       YBA|          4|              1|               0|                0|             0|              0|2014-02-24 00:00:...|2014-02-28 00:00:...|         0.0|     0.0|   454.712|     null|
| YBA-YBA|         YBA|       YBA|          4|              1|               0|                0|             0|              0|2014-03-23 00:00:...|2014-03-29 00:00:...|         0.0|     0.0|    613.28|     null|
+--------+------------+----------+-----------+---------------+----------------+-----------------+--------------+---------------+--------------------+--------------------+------------+--------+----------+---------+
only showing top 20 rows

### Problem 1
Top 20 destination people travel the most: Based on the given data, we can find the most popular destination that people travel frequently. There are many destinations out of which we will find only first 20, based on trips booked for particular destinations.

In [0]:
result=spark.sql("select ToLocation, count(*) as Frequency from global_temp.Travel group by ToLocation order by Frequency desc limit 20")
result.show()

+----------+---------+
|ToLocation|Frequency|
+----------+---------+
|       MIA|      396|
|       SFO|      290|
|       LAS|      202|
|       LAX|      162|
|       DFW|      102|
|       DEN|       64|
|       ORD|       57|
|       PHL|       54|
|       IAH|       50|
|       JFK|       45|
|       PHX|       44|
|       FLL|       40|
|       ATL|       36|
|       BOS|       31|
|       MCO|       31|
|       SAN|       27|
|       WAS|       25|
|       CUN|       24|
|       AUS|       22|
|       LON|       22|
+----------+---------+

### Problem 2
Top 20 locations from where people travel the most: We can find the places from where most of the trips are undertaken, based on the booked trip count.

In [0]:
result=spark.sql("select ToLocation, count(*) as Frequency from global_temp.Travel group by ToLocation order by Frequency desc limit 20")
result.show()

+----------+---------+
|ToLocation|Frequency|
+----------+---------+
|       MIA|      396|
|       SFO|      290|
|       LAS|      202|
|       LAX|      162|
|       DFW|      102|
|       DEN|       64|
|       ORD|       57|
|       PHL|       54|
|       IAH|       50|
|       JFK|       45|
|       PHX|       44|
|       FLL|       40|
|       ATL|       36|
|       BOS|       31|
|       MCO|       31|
|       SAN|       27|
|       WAS|       25|
|       CUN|       24|
|       AUS|       22|
|       LON|       22|
+----------+---------+

### Problem 3
Top 20 cities that generate high airline revenues for travel, so that the site can concentrate on offering discount on booking, to those cities to attract more bookings.

In [0]:
result=spark.sql("select ToLocation, sum(AirlinePrice) as Airline_Revenue from global_temp.Travel group by ToLocation order by Airline_Revenue desc limit 20")
result.show()

+----------+------------------+
|ToLocation|   Airline_Revenue|
+----------+------------------+
|       SFO|192705.82097625732|
|       MIA|180603.39154052734|
|       MLE|      175974.59375|
|       DFW| 136412.6213531494|
|       LAS| 96924.08037567139|
|       DEN| 89332.37953186035|
|       AUH| 48863.29931640625|
|       IAH| 41028.40982055664|
|       LON|   40217.599609375|
|       BGO|38432.599853515625|
|       FRA| 36816.04089355469|
|       LAX| 36143.41011810303|
|       JFK|28638.589920043945|
|       BOS| 26488.99981689453|
|       NYC| 22120.86016845703|
|       MEM|21182.300170898438|
|       ZRH|20985.759887695312|
|       AMS|20306.599243164062|
|       LGW|    18146.19921875|
|       ORD| 18007.17010498047|
+----------+------------------+